/data/pysal_automodel.sbn
/data/pysal_automodel.sbx
/data/pysal_automodel.shp
/data/pysal_automodel.shp.xml
/data/pysal_automodel.shx
/data/pysal_automodel.cpg
/data/pysal_automodel.dbf
/data/pysal_automodel.prj
/data/cluster_output.sbn
/data/cluster_output.sbx
/data/cluster_output.shp
/data/cluster_output.shp.xml
/data/cluster_output.shx
/data/cluster_output.cpg
/data/cluster_output.dbf
/data/cluster_output.prj
/data/CA_Panel.nc
